.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: rgb(68, 61, 61);
}

.app_body {
  /* background-color: #b15ae2; */
  margin: 10px;
  display: flex;
  /* background-color: rgb(27, 100, 122); */
  margin-top: -50px;
  height: 90vh;
  width: 140vh;
  box-shadow: 0px 3px 3px 1px #475454;
  border-radius: 30px;
}

/* sidebar component  */

.sidebar {
  margin-top: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff3e6;

  /* background-color: #b15ae2; */
  /* border-radius: 15px; */
}
.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 5px;

  border-right: 1px solid #fff3e6;
  background-color: #b15ae2;
  border-radius: 15px;
}

.sidebar_headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vh;
}

.sidebar_search {
  display: flex;
  align-items: center;
  background-color: #fff3e6;
  height: 39px;
  padding: 10px;
  margin-top: 10px;
}

.sidebar_searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  width: 260px;
  height: 35px;
  border-radius: 20px;
  padding-left: 5px;
}

.sidebar_searchContainer > input {
  border: none;
  outline-width: 0;
  margin-left: 10px;
}

.sidebar_headerRight > .MuiSvgIcon-root {
  margin-right: 2vh;
  font-size: 24px !important;
}

.sidebarChat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #b15ae2;
  scroll-behavior: smooth;
}
.sidebarChat:hover {
  background-color: #ebebeb;
}

.sidebar_chats {
  border-radius: 15px;
  flex: 1;
  background-color: #b15ae2;
  overflow: scroll;
}

.sidebarChat_info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.sidebarChat_info {
  margin-left: 15px;
}

/* chat component */
.chat {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: #fff3e6;
  padding-top: 20px;
  margin-top: 10px;
}

.chat_header {
  padding: 5px;
  border-radius: 15px;

  display: flex;
  align-items: center;
  border-bottom: 1px solid #c1a1d3;
  background-color: #c1a1d3;
}

.chat_headerInfo {
  flex: 2;
  padding-left: 20px;
}

.chat_headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat_headerRight {
}

.chat_body {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  flex: 1;
  padding: 30px;
  overflow: scroll;
  background-color: #cd83f8;
}

.chat_message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.chat_time {
  margin-left: 10px;
  font-size: xx-small;
}

.chat_name {
  position: absolute;
  top: -15px;
  font-weight: 600;

  font-size: xx-small;
}

.chat_reciver {
  margin-left: auto;
  background-color: green;
}

.chat_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
}

.chat_footer > form {
  flex: 1;
  display: flex;
  text-decoration: none;
  border: none;
  outline-width: 0;
}

.chat_footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
  text-decoration: none;
  outline-width: 0;
}
